[data-theme="dark"] {
  --background-primary: #202020;
  --background-secondary: #161616;

  --text-primary: #ffffff;
  --text-submenu: #56657F;

  --interactive-normal: #96989C;
  --interactive-hover: #dcddde;
  --interactive-active: #ffffff;

  --sidebar-interactive-active: #4CD137;

  --scrollbar-bg: rgba(1,2,3,.4);

  --shadow: #000000;
}
