[data-theme="dark"] {
  --background-primary: #141414;
  --background-secondary: #292929;

  --background-header: #34495E;

  --text-primary: #ffffff;
  --text-submenu: #56657F;

  --text-header: #ffffff;

  --interactive-hover: #212121;
  --interactive-active: #ffffff;

  --background-sidebar: #303030;
}
