:root {
  --background-primary: #ffffff;
  --background-secondary: #ebebeb;

  --background-header: #4c678a;

  --text-primary: #000000;

  --text-header: #ffffff;

  --interactive-hover: #dcddde;
  --interactive-active: #000000;

  --background-sidebar: #efefef;
}
