:root {
  --background-primary: #ffffff;
  --background-secondary: #F2F3F5;

  --text-primary: #000000;
  --text-submenu: #566d7f;

  --interactive-normal: #666666;
  --interactive-hover: #212121;
  --interactive-active: #000000;

  --sidebar-interactive-active: #4CD137;

  --scrollbar-bg: rgba(136, 3, 3, 0.4);

  --shadow: #fffff;
}
