:root {
  --background-primary: #ffffff;
  --background-secondary: #f0f0f0;

  --background-header: #4c678a;

  --text-primary: #000000;

  --text-header: #ffffff;

  --interactive-normal: #666666;
  --interactive-hover: #212121;
  --interactive-active: #000000;

  --sidebar-interactive-active: #4CD137;

  --scrollbar-bg: rgba(136, 3, 3, 0.4);

  --shadow: #fffff;
}
